html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.contact {
    height: 100px;
    background-color: #c2d6d6;
}
.about {
    height: 100px;
    background-color: #99ffff;
}
.detils{
    display:flex;
}